<a href="https://colab.research.google.com/github/Hernanros/SOTA/blob/master/notebooks/labels/combine_all_metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import re
import glob

In [1]:
!wget https://sota-ydata.s3.amazonaws.com/Paraphrase.csv

--2020-06-15 12:58:14--  https://sota-ydata.s3.amazonaws.com/Paraphrase.csv
Resolving sota-ydata.s3.amazonaws.com (sota-ydata.s3.amazonaws.com)... 52.217.18.204
Connecting to sota-ydata.s3.amazonaws.com (sota-ydata.s3.amazonaws.com)|52.217.18.204|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 44220 (43K) [text/csv]
Saving to: ‘Paraphrase.csv’

Paraphrase.csv      100%[===================>]  43.18K  --.-KB/s    in 0.06s

2020-06-15 12:58:14 (683 KB/s) - ‘Paraphrase.csv’ saved [44220/44220]

In [0]:
df = pd.read_csv("/content/Paraphrase.csv")

In [5]:
!git clone https://{username}:{password}@github.com/Hernanros/SOTA.git

Cloning into 'SOTA'...
remote: Enumerating objects: 141, done.
remote: Counting objects: 100% (141/141), done.
remote: Compressing objects: 100% (105/105), done.
remote: Total 141 (delta 61), reused 59 (delta 18), pack-reused 0
Receiving objects: 100% (141/141), 712.32 KiB | 5.70 MiB/s, done.
Resolving deltas: 100% (61/61), done.

In [14]:
!pwd

/content/SOTA/data

In [0]:
for filename in glob.glob('*.csv'):
   with open(os.path.join(os.getcwd(), filename), 'r') as f: # open in readonly mode
      temp_df = pd.read_csv(f)
      if len(temp_df.columns) > 2:
        index = np.where(temp_df.columns == 'label')[0][0]
        column_names = temp_df.columns[index+1:]
        for i,c_name in enumerate(column_names):
          df[c_name] = temp_df.iloc[:,index+1+i]
      else:
        column_names = temp_df.columns[1:]
        for i,c_name in enumerate(column_names):
          df[c_name] = temp_df.iloc[:,1+i]

In [0]:
df.drop(columns=['chrf_score'],inplace=True)

In [0]:
df.rename(columns={'0':'BertScore'},inplace=True)

In [0]:
df['BertScore'] = [float(re.sub(r"tensor\(|\)","",element)) for element in df['BertScore']]

In [0]:
def changerange(scores, OldMin, OldMax):
  NewMin = 0.0
  NewMax = 5.0

  new_scores = []
  for score in scores:
      new_scores.append(((score - OldMin) * (NewMax - NewMin)) / (OldMax - OldMin) + NewMin)
  return new_scores

In [0]:
column_names = df.columns
for cname in column_names:
  if ("ROUGE" in cname) | ("gram_overlap" in cname):
    df[cname] = changerange(df[cname].values,0.0,1.0)
  if ("L2" in cname) | ("POS" in cname):
    oldmin = np.min(np.array(df[cname].values))
    oldmax = np.max(np.array(df[cname].values))
    df[cname] = changerange(df[cname].values,oldmin,oldmax)

In [108]:
df.head(10)

                              text_1  ...  L2_score
0          take measures in order to  ...  2.022537
1                     was seeking to  ...  2.560585
2                     canada aims to  ...  2.115710
3                       refugees and  ...  4.042454
4                       measures and  ...  2.880835
5                       provide both  ...  3.516010
6                       policy goals  ...  2.905018
7  of non-governmental organisations  ...  1.845975
8                     of the service  ...  2.346042
9            resource availability .  ...  2.934138

[10 rows x 18 columns]

In [0]:
df.to_csv("labeled_data.csv")

In [111]:
!git add ./labeled_data.csv
!git config --global user.email "{email}@gmail.com"
!git config --global user.name "{username}"
!git commit -m "Combined and normalized data"
!git push

[master fc07651] Combined and normalized data
 1 file changed, 999 insertions(+)
 create mode 100644 data/labeled_data.csv
Counting objects: 4, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 60.60 KiB | 5.51 MiB/s, done.
Total 4 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/Hernanros/SOTA.git
   52b9b82..fc07651  master -> master