<a href="https://colab.research.google.com/github/Hernanros/SOTA/blob/master/notebooks/labels/combine_all_metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import re
import glob
import os

In [2]:
!wget https://sota-ydata.s3.amazonaws.com/Paraphrase.csv

--2020-06-16 11:03:36--  https://sota-ydata.s3.amazonaws.com/Paraphrase.csv
Resolving sota-ydata.s3.amazonaws.com (sota-ydata.s3.amazonaws.com)... 52.216.28.148
Connecting to sota-ydata.s3.amazonaws.com (sota-ydata.s3.amazonaws.com)|52.216.28.148|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 44220 (43K) [text/csv]
Saving to: ‘Paraphrase.csv’

Paraphrase.csv      100%[===================>]  43.18K  --.-KB/s    in 0.01s

2020-06-16 11:03:36 (3.31 MB/s) - ‘Paraphrase.csv’ saved [44220/44220]

In [0]:
df = pd.read_csv("/content/Paraphrase.csv")

In [4]:
!git clone https://{username}:{password}@github.com/Hernanros/SOTA.git
cd SOTA/data

Cloning into 'SOTA'...
remote: Enumerating objects: 150, done.
remote: Counting objects: 100% (150/150), done.
remote: Compressing objects: 100% (111/111), done.
remote: Total 150 (delta 66), reused 62 (delta 20), pack-reused 0
Receiving objects: 100% (150/150), 776.18 KiB | 10.21 MiB/s, done.
Resolving deltas: 100% (66/66), done.

In [6]:
%cd SOTA/data

/content/SOTA/data

In [0]:
for filename in glob.glob('*.csv'):
   with open(os.path.join(os.getcwd(), filename), 'r') as f: # open in readonly mode
      temp_df = pd.read_csv(f)
      if len(temp_df.columns) > 2:
        index = np.where(temp_df.columns == 'label')[0][0]
        column_names = temp_df.columns[index+1:]
        for i,c_name in enumerate(column_names):
          df[c_name] = temp_df.iloc[:,index+1+i]
      else:
        column_names = temp_df.columns[1:]
        for i,c_name in enumerate(column_names):
          df[c_name] = temp_df.iloc[:,1+i]

In [0]:
df.drop(columns=['chrf_score'],inplace=True)

In [0]:
df.rename(columns={'0':'BertScore'},inplace=True)

In [0]:
df['BertScore'] = [float(re.sub(r"tensor\(|\)","",element)) for element in df['BertScore']]

In [0]:
def changerange(scores, OldMin, OldMax):
  
  NewMin = 0.0
  NewMax = 5.0

  new_scores = []
  for score in scores:
      new_scores.append(((score - OldMin) * (NewMax - NewMin)) / (OldMax - OldMin) + NewMin)
  return new_scores

In [0]:
column_names = df.columns
for cname in column_names:
  if ("ROUGE" in cname) | ("gram_overlap" in cname):
    df[cname] = changerange(df[cname].values,0.0,1.0)
  if ("L2" in cname) | ("POS" in cname):
    oldmin = 0 # as a distance matrix - lowest score is a 0
    oldmax = np.max(np.array(df[cname].values))
    df.loc[df[cname] == -1,cname] = oldmax
    df[cname] = changerange(df[cname].values,oldmin,oldmax)
    # Convert distance matrix into similarity matrix
    df[cname] = 5.0 - df[cname]

In [72]:
df.head(3)

                      text_1                       text_2  ...  BertScore  L2_score
0  take measures in order to  take additional measures to  ...     4.5364  2.621138
1             was seeking to               will strive to  ...     4.5531  2.147480
2             canada aims to              canada works to  ...     4.7772  2.539115

[3 rows x 18 columns]

In [73]:
df.describe()

            label  POS dist score  ...   BertScore    L2_score
count  998.000000      998.000000  ...  998.000000  998.000000
mean     3.594866        2.029440  ...    4.540385    2.272690
std      0.794834        2.146498  ...    0.229546    0.742329
min      1.000000        0.000000  ...    3.768100    0.000000
25%      3.000000        0.000000  ...    4.371925    1.765644
50%      3.667000        1.219165  ...    4.528500    2.265768
75%      4.333000        4.184997  ...    4.706800    2.785526
max      5.000000        5.000000  ...    4.999100    4.401629

[8 rows x 16 columns]

In [0]:
df.to_csv("labeled_data.csv")

In [75]:
!git add ./labeled_data.csv
!git config --global user.email "{email}@gmail.com"
!git config --global user.name "{username}"
!git commit -m "Switched Dist to Sim value - made min 0 for dist"
!git push

[master f6f46ec] Switched Dist to Sim value - made min 0 for dist
 1 file changed, 999 insertions(+), 999 deletions(-)
 rewrite data/labeled_data.csv (90%)
Counting objects: 4, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 40.69 KiB | 2.71 MiB/s, done.
Total 4 (delta 3), reused 0 (delta 0)
remote: Resolving deltas: 100% (3/3), completed with 3 local objects.
To https://github.com/Hernanros/SOTA.git
   a2de3ea..f6f46ec  master -> master